{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'app_accounts:dashboard' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <ul>
                <li class="pure-menu-heading">Bem vindo, {{ user }}</li>
                <li class="pure-menu-heading">Conta</li>
                <li>
                    <a href="{% url 'app_accounts:edit' %}">
                    <i class="icon-cog"></i>
                    Editar informações
                    </a>
                </li>
                <li>
                    <a href="{% url 'app_accounts:edit_password' %}">
                        <i class="icon-lock"></i>
                        Editar Senha
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            {% block dashboard_content %}
            {% comment %} <p><strong>Avatar</strong>: {{ user.avatar }}</p> {% endcomment %}
            <p><strong>Avatar</strong>:
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="{{ user.name }}" style="width: 40px; height: 25px; border-radius: 50%;" />
                {% else %}
                    <img src="{% static 'img/avatar_unavailable.png' %}" alt="{{ user.name }}" style="width: 40px; height: 25px; border-radius: 50%;" />
                {% endif %}
            </p>
            <p><strong>Nome de usuario</strong>: {{ user.username }}</p>
            <p><strong>E-mail</strong>: {{ user.email }}</p>
            <p><strong>Nome</strong>: {{ user.name }}</p>
            {% endblock %}
        </div>
    </div>
    {% comment %} <div class="pure-u-1-4">
            <div class="inner">
            {% if user.is_authenticated %}
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" alt="{{ user.name }}" style="width: 40px; height: 25px;" />
                {% else %}
                    <img src="{% static 'img/avatar_unavailable.png' %}" alt="{{ user.name }}" />
                {% endif %}
            {% endif %}
            </div>
    </div> {% endcomment %}
</div>
{% endblock %}